body {
  font-family: 'Lato';
  font-size:18px;
  font-weight:400;
  padding:0;
  margin:0;
}

h1 {
  font-family: 'Playball';
  font-size:3em;
  font-weight:normal;
  color: $colorSoil;
  margin:0;
  padding:0;
}